@page
@model AbbyWeb.Pages.Categories.IndexModel


@if (TempData["success"] != null)
{
    <div class="alert alert-success" id="success-alert">
        @TempData["success"]
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary">Create New Category</a>
        </div>
    </div>

    <br />

    <table class="table border-1">
        <thead>
            <tr>
                <th width="10%">Category Id</th>
                <th width="50%">Name</th>
                <th width="10%">Display Order</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.Categories)
            {
                <tr>
                    <td>@cat.Id</td>
                    <td>@cat.Name</td>
                    <td>@cat.DisplayOrder</td>
                    <td>
                        <a asp-page="Edit" asp-route-Id="@cat.Id" class="btn btn-info">Edit</a>
                        <a asp-page="Delete" asp-route-Id="@cat.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
